@model ManageImageModel

@{
    var modalId = "modal-" + Model.Id.ToString();
    var hashtag = "#" + modalId;
}



<form method="post"
      enctype="multipart/form-data"
      action="/Media/UpdateImageById">
    <input type="hidden" asp-for="Id" value="@Model.Id">
    <div class="container illustre-container mb-3">
        <div class="row illustre-row">
            <div class="col-3 illustre-col">
                <div class="modal fade" id="@modalId" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">@Model.Title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="@Model.Image" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                </div>
                <a href="@hashtag"
                   data-bs-toggle="modal"
                   data-bs-target="@hashtag"
                   onclick="console.log('click');">
                    <div class="illustre-input-group-item-left
                                illustre-input-group-image-container-left"
                         id="illustre-image-preview"
                         style='background-image:url("@Model.Image")'>
                    </div>
                </a>
            </div>
            <div class="col-7 illustre-col illustre-grayscale">
                <div class="container illustre-container">
                    <div class="row illustre-row">
                        <div class="input-group illustre-input-group">
                            <input type="text" class="form-control illustre-input-group-item-inside illustre-input-group-item-no-bottom-border" asp-for="Title" placeholder="title" value="@Model.Title">
                        </div>
                    </div>
                    <div class="row illustre-row">
                        <div class="input-group illustre-input-group">
                            <a role="button" class="btn btn-dark illustre-input-group-item-inside illustre-half-width" target="_blank" asp-controller="Media" asp-action="EditTags" asp-route-isFirstAttempt="true" asp-route-imageId="@Model.Id">Edit Tags</a>
                            <div class="input-group-text illustre-input-group-item-inside illustre-half-width">
                                <input type="checkbox" class="form-check-input mt-0" asp-for="IsActive" id="is-active-@Model.Id" checked="@Model.IsActive">
                                <label class="form-check-label illustre-checkbox-label" for="is-active-@Model.Id">Is Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 illustre-col illustre-grayscale">
                <button type="submit" class="btn btn-outline-dark illustre-input-group-item-right">Save</button>
            </div>
        </div>
    </div>
</form>
