@model ShowImageModel

@{
    ViewData["Title"] = Model.Title;

    var activeReaction = "";

    if (Model.IsLiked is not null)
    {
        if (Model.IsLiked!.Value)
        {
            activeReaction = "illustre-liked";
        }
        else
        {
            activeReaction = "illustre-disliked";
        }
    }
}

<div id="illustre-show-image-container">
    <div id="illustre-show-image" style='background-image:url("@Model.Image");'>
        <div id="illustre-show-image-blurred">
            <div id="illustre-illustration" style='background-image:url("@Model.Image");'></div>
        </div>
    </div>
    <div class="illustre-side-form illustre-grayscale">
        <div class="illustre-form">
            <div class="mt-3">
                <form method="get" action="">
                    <div class="input-group mb-3 illustre-grayscale">
                        <input type="text" class="form-control" placeholder="search">
                        <button type="submit" class="btn btn-outline-dark">Search</button>
                    </div>
                </form>
            </div>
            <div class="mt-3">
                <h1 class="display-6">@Model.Title</h1>
            </div>
            <div class="row g-1 mt-3">
                <div class="col-4 d-grid">
                    <center>
                        <a href="#">
                            <div class="illustre-icon @activeReaction" id="illustre-like"></div>
                        </a>
                    </center>
                </div>
                <div class="col-4 d-grid">
                    <center>
                        <a href="#">
                            <div class="illustre-icon @activeReaction" id="illustre-next"></div>
                        </a>
                    </center>
                </div>
                <div class="col-4 d-grid">
                    <center>
                        <a href="#">
                            <div class="illustre-icon @activeReaction" id="illustre-dislike"></div>
                        </a>
                    </center>
                </div>
            </div>
            <div class="overflow-auto mt-3 illustre-tag-list">
                <div class="list-group">
                    @{
                        foreach (var item in Model.Tags)
                        {
                            <a href="#" class="list-group-item list-group-item-action">@item.Title</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
